@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Web based application to record deposits and withdrawals into an account. The target audience is parents wanting to teach their children to save. Children can also add a “wishlist” of things they want to spend their money on.</p>
